<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar página</title>
</head>
<body>
        <!-- Formulário de edição de página -->
    <form action="/edit-page/{{url}}" method="POST">
        <textarea name="content" placeholder="Novo conteúdo da página" required></textarea><br>
        <button type="submit">Salvar</button>
    </form>

</body>
</html>